.box
{
    width: 700px;
    margin: 50px;
    margin-left: 200px; 
    border-style: ridge;
}

.text-header
{
    font-size: 20px;
    color: #0033a0;;
    font-weight: bold;
}

.align-left{
    float: left;
    margin-left: 10px;
}